[Settings]
MIKROTIK_IP                 = 192.168.100.8
LOG_INTERVAL                = 10
AGGREGATE_INTERVAL          = 1800
DB_HOST                     = localhost
DB_USER                     = root
DB_PASS                     = 
DB_NAME                     = test_mikrotik